/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;498&display=swap');
*{
    font-family: 'Open Sans', sans-serif !important;
}

body{
    background-color: #F7F9F9;
}

a {
    color: #2487ce;
    text-decoration: none;
}

a:hover {
    color: #469fdf;
    text-decoration: none;
}

.color{
    color: #0F4C75 !important;
}

.btn-general{
    background-color: #3282B8 !important;
    color: white;
    font-size: 17px !important;
}

.btn-general:hover{
    background-color: #0F4C75 !important;
    font-size: 17px !important;
    color: white;

}

.btn-cancel, .btn-btn-general{
    font-size: 15px !important;

}

.btn-btn-general{
    background-color: #3282B8 !important;
    color: white;

}

.detalles{
    background: none;
    color: #0F4C75;
    font-weight: bold;
}


.detalles:hover,.btn-btn-general:hover{
    background-color: #0F4C75 !important;
    color: white;
    font-weight: normal;

}



/*--------------------------------------------------------------
# Loguin
--------------------------------------------------------------*/
.gradient-custom-2 {
    background-image: linear-gradient(120deg, #3282B8 0%, #0F4C75 100%);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.login input[type="number"], .login input[type="password"], .login input[type="text"]{
    background-color: #ECF0F1 !important;
    border: none !important;

}


#verInventario{
    background-color: #3282B8 !important;
    color:white;

}

#verInventario:hover{
    background-color: #0F4C75 !important;
    color:white;

}

